* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/* Шапка сайта */
.header_welcome {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-top: 30px;
}



/* Стили main */

.main {
    width: 100%;
    margin-top: 20vh;
}

.question_content {
    font-size: 40px;
    margin: 40px;
}


.hide {
    position: relative;
    height: 0px;
    opacity: 0;
}


.show {
    position: relative;
    height: 100px;
    opacity: 1;
    animation-name: appear;
    animation-duration: 2s;
}
@keyframes appear{
    0% {
        height: 0px;
        opacity: 0;
    }
    100% {
        height: 100px;
        opacity: 1;
    }
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    font-size: 30px;
}

.btn_start {
    width: 300px;   
    height: 50px;
    background-color: #586D8E;
    color: #FFEDCB;
}

.btn_true {
    background-color: #00D084;
    color: white;
}
