* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

html {
    background-color: #ABF7C5;
}


/* Шапка сайта */
.header_welcome {
    font-size: 50px;
    font-weight: bold;
    margin: 30px;
}



/* Стили main */

.main {
    width: 100%;
    margin-top: 20vh;
}


/* Стили блока с вопросом */

.question {
    width: 680px;
    min-height: 200px;
    max-height: auto;
    /* border: 1px solid black; */
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.78); 
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.78);    
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #586D8E;
}

.question_content {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    color: #FFEDCB;
}

/* Скрываем элементы с ответами до появления вопроса */
.hide {
    position: relative;
    height: 0px;
    opacity: 0;
    visibility: hidden;
}

/* Анимация появления ответов */
.show {
    position: relative;
    height: 100px;
    opacity: 1;
    visibility: visible;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.575);
}
@keyframes appear{
    0% {
        height: 0px;
        opacity: 0;
    }
    100% {
        height: 100px;
        opacity: 1;
    }
}


/* Стили кнопок */
.btn {
    width: 150px;
    height: 50px;
    border: none;
    font-size: 30px;
}

/* Стили кнопки Start game */
.btn_start {
    width: 300px;   
    height: 50px;
    background-color: #00B1BC;
    color: #E6F4F1;
    z-index: 1;
}

.btn_start:active {
    /* width: 270px;
    height: 45px; */
    animation-name: start-click-effect;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}
@keyframes start-click-effect {
    100% {
        width: 270px;
        height: 45px;
    }
}



/* Стили кнопок с ответами */

.btn_answer {
    background-color: #00B1BC;
    color: #E6F4F1;
}


.correct {
    background-color: #00D084;
    color: #F3EED9;
}

.incorrect {
    background-color: #FB3131;
    color: #F3EED9;
}
